{% load static %}

<title>RPXHomeLAB</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="description" content="homelab"/>
<meta name="keywords" content="homelab"/>
<meta name="author" content="CodedThemes"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
<!-- vendor css -->
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<!-- dark mode css -->
<link rel="stylesheet" href="{% static 'css/dark.css' %}">