{% extends 'includes/base.html' %}
{% load static %}

{% block content %}

    <body class="sb-nav-fixed">
        
        <div id="layoutSidenav">
            {% block sidebar %}
                {% include 'includes/sidebar.html' %}
            {% endblock sidebar %}
                <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Info</li>
                        </ol>
                        
                        <div class="row">
                            {% for card in cards %}
                                <div class="col-xl-3 col-md-6">
                                    <div class="card bg-primary text-white mb-4">
                                        <div class="card-body">
                                            <div class="card-title border-bottom pb-2 mb-3">{{ card.name }}</div>
                                            {% if card.card_type == "public_ip" %}
                                                <p class="card-text">{{ card.data.public_ip }}</p>
                                            {% elif card.card_type == "docker" %}
                                                <h6 class="card-text">Containers Docker:</h6>
                                                <ul class="card-text">
                                                    {% for container in card.data.docker_containers %}
                                                        <li>{{ container.name }} - {{ container.status }}</li>
                                                    {% endfor %}
                                                </ul>
                                                {% elif card.card_type == "server_resources" %}
                                                <ul class="card-text">
                                                    <li><strong>CPU:</strong> {{ card.data.cpu.logical_cores }} núcleos lógicos - {{ card.data.cpu.usage_percent }}% em uso</li>
                                                    <li><strong>Mem Ram:</strong> {{ card.data.memory.used|filesizeformat }} de {{ card.data.memory.total|filesizeformat }} ({{ card.data.memory.usage_percent }}% usado)</li>
                                                    <li><strong>Hard Drive:</strong> {{ card.data.disk.used|filesizeformat }} de {{ card.data.disk.total|filesizeformat }} ({{ card.data.disk.usage_percent }}% usado)</li>
                                                </ul>
                                            {% else %}
                                                <p class="card-text">Dados: {{ card.data }}</p>
                                            {% endif %}
                                        </div>
                                        <div class="card-footer d-flex align-items-center justify-content-between position-relative">
                                            <a class="small text-white stretched-link" href="#">Última atualização: {{ card.last_updated }}</a>
                                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Links</li>
                        </ol>

                        <div class="row">
                            {% for link in links %}
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-3">
                                    <div class="cardp text-white bg-dark shadow-sm hover-effect">
                                        {% if link.image %}
                                            <img src="{{ link.image.url }}" class="cardp-img-top" alt="{{ link.name }}">
                                        {% else %}
                                            <div class="cardp-img-top d-flex justify-content-center align-items-center bg-secondary">
                                                <i class="fas fa-link fa-2x text-white"></i>
                                            </div>
                                        {% endif %}
                                        <div class="cardp-body p-2">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <h6 class="cardp-title text-truncate" title="{{ link.name }}">{{ link.name }}</h6>
                                                <a href="{{ link.url }}" class="text-white" {% if link.open_in_new_tab %} target="_blank" rel="noopener noreferrer" {% endif %}>
                                                    <i class="fas fa-arrow-circle-right fa-lg"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="cardp-description p-3">
                                            <p class="cardp-text text-truncate" title="{{ link.description }}">{{ link.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>


                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        Area Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        Bar Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                DataTable Example
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Age</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Age</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011/04/25</td>
                                            <td>$320,800</td>
                                        </tr>
                                        <tr>
                                            <td>Garrett Winters</td>
                                            <td>Accountant</td>
                                            <td>Tokyo</td>
                                            <td>63</td>
                                            <td>2011/07/25</td>
                                            <td>$170,750</td>
                                        </tr>
                                        <tr>
                                            <td>Charde Marshall</td>
                                            <td>Regional Director</td>
                                            <td>San Francisco</td>
                                            <td>36</td>
                                            <td>2008/10/16</td>
                                            <td>$470,600</td>
                                        </tr>
                                        <tr>
                                            <td>Paul Byrd</td>
                                            <td>Chief Financial Officer (CFO)</td>
                                            <td>New York</td>
                                            <td>64</td>
                                            <td>2010/06/09</td>
                                            <td>$725,000</td>
                                        </tr>
                                        <tr>
                                            <td>Doris Wilder</td>
                                            <td>Sales Assistant</td>
                                            <td>Sidney</td>
                                            <td>23</td>
                                            <td>2010/09/20</td>
                                            <td>$85,600</td>
                                        </tr>
                                        <tr>
                                            <td>Angelica Ramos</td>
                                            <td>Chief Executive Officer (CEO)</td>
                                            <td>London</td>
                                            <td>47</td>
                                            <td>2009/10/09</td>
                                            <td>$1,200,000</td>
                                        </tr>
                                        <tr>
                                            <td>Gavin Joyce</td>
                                            <td>Developer</td>
                                            <td>Edinburgh</td>
                                            <td>42</td>
                                            <td>2010/12/22</td>
                                            <td>$92,575</td>
                                        </tr>
                                        <tr>
                                            <td>Jennifer Chang</td>
                                            <td>Regional Director</td>
                                            <td>Singapore</td>
                                            <td>28</td>
                                            <td>2010/11/14</td>
                                            <td>$357,650</td>
                                        </tr>
                                        <tr>
                                            <td>Donna Snider</td>
                                            <td>Customer Support</td>
                                            <td>New York</td>
                                            <td>27</td>
                                            <td>2011/01/25</td>
                                            <td>$112,000</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; RPX.PT</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

{% endblock %}